@import '../variables.scss';

html {
  margin: 0;
  padding: 0;

  height: 100%;
  overflow: hidden;
  -webkit-text-size-adjust: 100;
  color: white;
  background-image: url("../../../photographs/FushimiInariLight.jpg");
  background-repeat: no-repeat;
  background-position: center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  width: 100%;

  background-color: $faded-blue-color;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgba(61, 66, 90, 0.78);
  width: 100%;
  height: 100%;
}

.LandingContent {
  padding-left: 10%;
  position:fixed;
  bottom: 12%;

  text-align: center;
}

.LandingHeader {
  font-size: 60pt;
  letter-spacing: 5px;
  font-weight: $font-weight-regular;
}

.LandingButtons {
  margin: 0 auto;
}

.LandingButtons > .Button {
  margin: 0 35px;
}

@media (max-width: $screen-sm-min) {
  .LandingHeader {
    font-size: 9vw;
    letter-spacing: 4px;
  }

  .LandingContent {
    padding-left: 4%;
  }

  .LandingButtons > .Button {
    width: 40%;
    max-width: 180px;
    font-size: 13pt;
    margin: 0 5%;
    padding: 12px 0;
  }
}

@media (max-width: $screen-xs-min) {
  .LandingContent {
    padding-left: 2%;
  }

  .LandingButtons > a {
    width: 40%;
    font-size: 3.5vw;
    margin: 0 2%;
    padding: 8px 0;
  }
}

@media (max-width: $screen-md-min) and (min-width: $screen-sm-min) {
  .LandingContent {
    padding-left: 7%;
  }
}

@media (min-width: $screen-lg-min) {
  .LandingContent {
    padding-left: 12%;
  }
}
